/*
CSS for each tile in the project page
*/

div.ProjectTile {
     width: 40%;
     background-color: #0D2A35;
     text-decoration: none;
     color: black;
     margin: auto;
     text-align: center;
     border: 3px solid black;
     padding: 10px;
     text-align: center;
     margin: 3%;
}

.tileIMG {
    width: 80%;
}

.github {
    width: 7%;
    height: auto;
}
