/*
Color pallete
000f08 or 00242E
005D8F
64985D
86B9E9
8E3B46
*/
:root{
    --c1: #000f08;
    --c2: #0D2A45;
    --c3: #95D9C3;
    --c4: #AFC0BB;
    --c5: #8E3B46;
}
.App {
    text-align: center;
    background-color: var(--c1);
    color: var(--c3);
    padding: 10px;
    font-family: monospace;
}
.standard {
    background-color: var(--c2);
    border-color: var(--c4);
    border: 3px;
    padding: 0px;
    border-radius: 13px;
    font-size: 18px;
}
p, ul {
    color: var(--c4);
    text-align: justify;
}
a {

}
a:visited{
    color: var(--c5);
}
.standing {
    width: 30%;
    height: auto;
    padding: 3%;
    border-radius: 10px;
}

.profile {
    text-align: justify;
    float: left;
    float:left;
    display:inline;
    width: 50%;
    font-size: 16px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.github2 {
    background-color: lightgrey;
    width: 8%;
    height: auto;
}
.linkedin {
    padding: 0px;
    background-color: lightgrey;
    width: 8%;
    height: auto;
}

a:link {
    text-decoration: none;
}

.link {
    font-family: monospace;
    font-size: 20px;
    text-decoration: none;
    color: var(--c5);

}

.skills {
    border-color: white;
    border: 3px;
    width: 40%;
}

.interests {
    padding-left: 30px;
    width: 50%;
    word-wrap: normal;
    text-align: left;
}

.title-interests {
    text-align: center;
}



/* Other palletes
--c1: #000f08;
--c2: #0D2A45;
--c3: #95D9C3;
--c4: #AFC0BB;
--c5: #8E3B46
*/
