/*
Color pallete
000f08 or 00242E
005D8F
64985D
86B9E9
8E3B46
*/
:root{
    --c1: #000f08;
    --c2: #0D2A45;
    --c3: #95D9C3;
    --c4: #AFC0BB;
    --c5: #8E3B46;
}
.App {
    text-align: center;
    background-color: var(--c1);
    color: var(--c3);
    padding: 10px;
}
.standard {
    background-color: var(--c2);
    border-color: var(--c4);
    border: 3px;
    padding: 0px;
}
p, ul {
    color: var(--c4);
    text-align: justify;
}
a {

}
a:visited{
    color: var(--c5);
}
.standing {
    width: 30%;
    height: auto;
    padding: 3%;
}

.profile {
    text-align: justify;
    float: left;
    float:left;
    display:inline;
    width: 50%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Other palletes
--c1: #000f08;
--c2: #0D2A45;
--c3: #95D9C3;
--c4: #AFC0BB;
--c5: #8E3B46
*/
